/* Nav Styles */
ul#horizontal-list{
    min-width: 55vw;
    list-style: none;
    padding-top: 2vw;
}

#horizontal-list li, #horizontal-list a{
    display: inline;
    text-decoration: none;
    padding: 0.5vw;
    color: white;
}

#horizontal-list a:nth-last-child(1){   
    border: 2px solid white;
    border-radius: 11px;
    margin-right: 0.2vw;
}
/*End of New Styles*/

/*Start of the Header/Hero Section*/
#header-text{
    padding: 2vw;
}

.header-image{
    width: 60%;
    max-width:100%;
}
/* End of Header/Hero Section*/

